@model Mangateque.Models.Chapter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chapter</h4>
    <hr />
    <dl class="row">
        @for (var i = 1; i <= Model.NumberOfPage; i++)
        {
            string imageSrc = $@"..\..{@Model.Path}\{@i}.png";
            <img class="card-img-top" src="@imageSrc">
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
